.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* ChatGPT*/
.radio-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

/* Optional: Style for the label text */
.radio-container label {
  font-size: 20px;
  color: #282c34;
  text-align: center;
}

.radio-itens {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  text-align: center;
}

.btn {
  margin-top: 20px; /* Example margin */
  padding: 10px 20px; /* Example padding */
  font-size: 18px; /* Example font size */
  background-color: #3c3e3f; /* Example background color */
  color: #fff; /* Example text color */
  border: none; /* Remove border */
  border-radius: 6px;
  cursor: pointer;
  display: block;
  margin: auto;
}

.btn:hover {
  background-color: #234870; /* Example background color on hover */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
